/* wangeditor 富文本编辑器
------------------------------- */
.editor-container {
	z-index: 10; // 用于 wangeditor 点击全屏时
	.w-e-toolbar {
		border: 1px solid var(--el-border-color-light, #ebeef5) !important;
		border-bottom: 1px solid var(--el-border-color-light, #ebeef5) !important;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		z-index: 2 !important;
	}
	.w-e-text-container {
		border: 1px solid var(--el-border-color-light, #ebeef5) !important;
		border-top: none !important;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		z-index: 1 !important;
	}
}

[data-theme='dark'] {
	// textarea - css vars
	--w-e-textarea-bg-color: var(--el-color-white) !important;
	--w-e-textarea-color: var(--el-text-color-primary) !important;

	// toolbar - css vars
	--w-e-toolbar-color: var(--el-text-color-primary) !important;
	--w-e-toolbar-bg-color: var(--el-color-white) !important;
	--w-e-toolbar-active-color: var(--el-text-color-primary) !important;
	--w-e-toolbar-active-bg-color: var(--next-color-menu-hover) !important;
	--w-e-toolbar-border-color: var(--el-border-color-light, #ebeef5) !important;

	// modal - css vars
	--w-e-modal-button-bg-color: var(--el-color-primary) !important;
	--w-e-modal-button-border-color: var(--el-color-primary) !important;
}

.main-container {
	padding: 15px;
}

.content-exceeded {
	overflow: hidden; //超出的文本隐藏
	text-overflow: ellipsis; //溢出用省略号显示
	white-space: nowrap; //溢出不换行
}

.content-exceeded-2-row {
	overflow: hidden; //超出的文本隐藏
	text-overflow: ellipsis; //溢出用省略号显示
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.product-list {
	.product-list-content {
		border-radius: 4px;
		.product-value {
			border: 1px solid #d9d9d9;
			cursor: pointer;
			margin: 12px 12px 0 0;
			border-radius: 4px;
			padding-top: 3px;
			.product-value-icon {
				width: 80px;
				height: 66px;
				padding: 5px 10px;
				text-align: center;
				border-radius: 4px;
				margin: 0 10px;
			}
			.product-value-title {
				width: 100px;
				text-align: center;
				margin-bottom: 10px;
				padding: 0 10px;
			}
			&:hover {
				background-color: #f8f8f8;
			}
		}
	}
}

.list-button-class {
	.el-button--small {
		padding: 5px 0;
	}
	.el-button:focus-visible {
		outline: none;
		outline-offset: 0;
	}
}
